<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" />
	<link rel='stylesheet' type='text/css' href='../static/css/style.css' media="screen" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" />
	<title>Analiza</title>
</head>
<body>
<div class="sidenav">
	<a href="https://analiza.herokuapp.com/dashboard">Panel główny</a>
	<button class="dropdown-btn">
		Atrybuty<i class="fa fa-caret-down"></i>
	</button>
	<div class="dropdown-container">
		{% for item in columns %}
			<a href="https://analiza.herokuapp.com/res/{{item}}">{{ item }}</a>
		{% endfor %}
	</div>
	<a href="https://analiza.herokuapp.com/tests">Testy</a>
	<a href="https://analiza.herokuapp.com/summary">Zestawienie</a>
</div>
<div class="main">
	<div class="container-fluid">	
		<div class= "row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h2>Testy</h2>
					<p>Wyniki uzyskane dla wybranego testu zostały zamieszczone poniżej.</p>
					<p class="text-danger small">Generowanie raportu może chwilę potrwać!</p>
					<a href="#" id="raport-btn" class="btn btn-default">Pobierz raport</a>
					<a href="https://analiza.herokuapp.com/revoke" class="btn btn-danger2" style="float: right;">Wyloguj się</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 small">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert alert-{{ category }} alert-dismissible text-center" role="alert">{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{% for result in results %}
					<div class="panel panel-default text-center">
						<div class="panel-heading name">{{result.name}}</div>
						<div class="panel-body well">
						{% if result.H0 != '-' %}
							<div class="col-md-6 hipotesis">
								<p>Hipotezy statystyczne:</p>
								<p>H0: {{result.H0}}</p>
								<p>H1: {{result.H1}}</p>
							</div>
							<div class="col-md-5 col-md-offset-1">
								<p>Wyniki:</p>
								<p>Wartość testu: {{result.testvalue}}</p>
								<p>Wartość p: {{result.pvalue}}</p>
							</div>
						{%else%}
							<div class="col-md-6 col-md-offset-3">
								<p>Wyniki:</p>
								<p>Wartość testu: {{result.testvalue}}</p>
								<p>Wartość p: {{result.pvalue}}</p>
							</div>
						{% endif %}
						</div>
						<div class="panel-footer well">
							<p class="text-primary">Decyzja:</p>
							<p class="text-primary">{{result.dec}}</p>
						</div>
					</div>
					{% if result.chart is defined %}
						<img class="charts" src="data:image/png;base64,{{result.chart}}" width="1024" height="800" alt="graph">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>    
</body>
<style>
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2C3E50;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #E1E1E1;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

.active {
    background-color: #42586E;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #617487;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
</style>
<script src="../static/script/http_code.jquery.com_jquery-1.11.1.js"></script>	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="../static/script/pdfmake.js"></script>
<script src="../static/script/vfs_fonts.js"></script>
<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}

$( "#raport-btn" ).click(function(){
var fileTitle;
$.ajax({
    url         : "https://analiza.herokuapp.com/getfileTitle",
    type        : "post",
	async		:  false,
    dataType    : 'json',
})
.done(function(response) {
    fileTitle = response['data'];
})
.fail(function() {
   fileTitle = '';
}); 

$.ajax({
    url         : "https://analiza.herokuapp.com/dataraport",
    type        : "post",
    dataType    : 'json',
})
.done(function(response) {
    test = response['data'];
	result = []
	pics = []
	pics = document.getElementsByClassName("charts");
	arr2 = [];
	for(var i =0;i < pics.length;i++){
	arr2.push(pics[i].src);
	}
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10) {
		dd = '0'+dd;
	}	 
	if(mm<10) {
		mm = '0'+mm;
	} 
	var date = dd + '/' + mm + '/' + yyyy;
	var hours = today.getHours();
	var minutes = today.getMinutes();
	var seconds = today.getSeconds();
	if(hours<10){
		hours = '0'+hours;
	}
	if(minutes<10){
		minutes = '0'+minutes;
	}
	if(seconds<10){
		seconds = '0'+seconds;
	}
	var time = hours + ':' + minutes + ':' + seconds;
	result.push("Nazwa arkusza: "+fileTitle);
	result.push("Typ: test statystyczny"+"\n");
	result.push("Wygenerowano "+date+" o "+time+"\n\n");
	for(var i =0;i<test.length;i++){
	result.push(test[i]['name']);
	if(test[i]['H0'] != '-'){
	result.push("Hipotezy statystyczne:");
	result.push("H0: "+test[i]['H0']);
	result.push("H1: "+test[i]['H1']);
	}
	result.push("Wyniki:");
	result.push("Wartość testu: "+test[i]['testvalue']);
	result.push("Wartość p: "+test[i]['pvalue']);
	result.push("Decyzja:");
	if(arr2.length > 0){
	result.push(test[i]['dec']);
	result.push({image: arr2[i], width: 800, height: 600, pageBreak: 'after'});	
	}else{
	result.push({text: test[i]['dec'], pageBreak: 'after'});
	}
	}
	pdfMake.createPdf({content:result, pageSize: 'c3'}).download('Test statystyczny '+'['+fileTitle+']'+'.pdf');
})
.fail(function() {
    alert("Niestety nie udało się pobrać danych. Nie można więc wygenerować raportu.");
});  
function pdfForElement(id) {
  function ParseContainer(cnt, e, p, styles) {
    var elements = [];
    var children = e.childNodes;
    if (children.length != 0) {
      for (var i = 0; i < children.length; i++) p = ParseElement(elements, children[i], p, styles);
    }
    if (elements.length != 0) {
      for (var i = 0; i < elements.length; i++) cnt.push(elements[i]);
    }
    return p;
  }

  function ComputeStyle(o, styles) {
    for (var i = 0; i < styles.length; i++) {
      var st = styles[i].trim().toLowerCase().split(":");
      if (st.length == 2) {
        switch (st[0]) {
          case "font-size":
            {
              o.fontSize = parseInt(st[1]);
              break;
            }
          case "text-align":
            {
              switch (st[1]) {
                case "right":
                  o.alignment = 'right';
                  break;
                case "center":
                  o.alignment = 'center';
                  break;
              }
              break;
            }
          case "font-weight":
            {
              switch (st[1]) {
                case "bold":
                  o.bold = true;
                  break;
              }
              break;
            }
          case "text-decoration":
            {
              switch (st[1]) {
                case "underline":
                  o.decoration = "underline";
                  break;
              }
              break;
            }
          case "font-style":
            {
              switch (st[1]) {
                case "italic":
                  o.italics = true;
                  break;
              }
              break;
            }
        }
      }
    }
  }
  function ParseElement(cnt, e, p, styles) {
    if (!styles) styles = [];
    if (e.getAttribute) {
      var nodeStyle = e.getAttribute("style");
      if (nodeStyle) {
        var ns = nodeStyle.split(";");
        for (var k = 0; k < ns.length; k++) styles.push(ns[k]);
      }
    }
    switch (e.nodeName.toLowerCase()) {
      case "#text":
        {
          var t = {
            text: e.textContent.replace(/\n/g, "")
          };
          if (styles) ComputeStyle(t, styles);
          p.text.push(t);
          break;
        }
      case "b":
      case "strong":
        {
          ParseContainer(cnt, e, p, styles.concat(["font-weight:bold"]));
          break;
        }
      case "u":
        {
          ParseContainer(cnt, e, p, styles.concat(["text-decoration:underline"]));
          break;
        }
      case "i":
        {
          ParseContainer(cnt, e, p, styles.concat(["font-style:italic"]));
          break;
        }
      case "span":
        {
          ParseContainer(cnt, e, p, styles);
          break;
        }
      case "br":
        {
          p = CreateParagraph();
          cnt.push(p);
          break;
        }
      case "table":
        {
          var t = {
            table: {
              widths: [],
              body: []
            }
          }
          var border = e.getAttribute("border");
          var isBorder = false;
          if (border)
            if (parseInt(border) == 1) isBorder = true;
          if (!isBorder) t.layout = 'noBorders';
          ParseContainer(t.table.body, e, p, styles);

          var widths = e.getAttribute("widths");
          if (!widths) {
            if (t.table.body.length != 0) {
              if (t.table.body[0].length != 0)
                for (var k = 0; k < t.table.body[0].length; k++) t.table.widths.push("*");
            }
          } else {
            var w = widths.split(",");
            for (var k = 0; k < w.length; k++) t.table.widths.push(w[k]);
          }
          cnt.push(t);
          break;
        }
      case "tbody":
        {
          ParseContainer(cnt, e, p, styles);
          p = CreateParagraph();
          break;
        }
      case "tr":
        {
          var row = [];
          ParseContainer(row, e, p, styles);
          cnt.push(row);
          break;
        }
      case "td":
        {
          p = CreateParagraph();
          var st = {
            stack: []
          }
          st.stack.push(p);

          var rspan = e.getAttribute("rowspan");
          if (rspan) st.rowSpan = parseInt(rspan);
          var cspan = e.getAttribute("colspan");
          if (cspan) st.colSpan = parseInt(cspan);

          ParseContainer(st.stack, e, p, styles);
          cnt.push(st);
          break;
        }
      case "div":
      case "p":
        {
          p = CreateParagraph();
          var st = {
            stack: []
          }
          st.stack.push(p);
          ComputeStyle(st, styles);
          ParseContainer(st.stack, e, p);

          cnt.push(st);
          break;
        }
      default:
        {
          console.log("Parsing for node " + e.nodeName + " not found");
          break;
        }
    }
    return p;
  }
  function ParseHtml(cnt, htmlText) {
    var html = $(htmlText.replace(/\t/g, "").replace(/\n/g, ""));
    var p = CreateParagraph();
    for (var i = 0; i < html.length; i++) ParseElement(cnt, html.get(i), p);
  }
  function CreateParagraph() {
    var p = {
      text: []
    };
    return p;
  }
  content = [];
  ParseHtml(content, document.getElementById(id).outerHTML); 
  return content;
}
});
</script>
</html> 